html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


#root {
  display: flex;
  background-color: #b2bdd6;
  justify-content: space-between;
  padding: 20px;
  color: black;
}